.menu{
    display:flex;
    margin-top: 50px;
    margin-left: 10px;
}
h1{
    text-align: center;
    color: whitesmoke;
    margin-top: 50px;
    padding-top: 50px;
    font-size: 3rem !important;
    
}
.weatherContainer{
    width: 500px;
    height: 500px;
    margin: 150px auto;
}
