.nav-link{
    padding: 0 10px;
    border-bottom: 2px solid #5c698b00;
    color: #ABC4FF !important;
    font-family: 'big_john_proregular';
}
.nav-link:hover{
    color: #5c698b !important;
    background-color: aliceblue;
    border-bottom: 2px solid #5c698b;
    transition: all 0.8s ease 0.2s;
}


.navbar-brand{
    padding-left: 15px;
    color: #ABC4FF !important;
    font-family: 'big_john_probold';
}
.navbar-brand:hover{
    font-weight: bolder;
}
#root > div > nav{
    background-color: #E2EAFC;
    color: #ABC4FF;
}
