.mainInfo{
    background-color: white;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.city{
    background-color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:30%;
    margin: 0 !important;
}
.condition{
    font-size: 12px;
}
.current{
    font-size: 20px;
    font-weight: bold;
}
.weatherConditions{
    padding-left: 200px;
}
