.informacion-super-heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.informacion-super-heroe {
    flex: 1;
    overflow: auto;
    border: solid 1px;
    margin: 20px;
    border-radius: 5px;
}

.informacion-super-heroe img {
    height: 200px;
    width: 100%;
    padding: 0.5rem;
}

.info {
    padding: 0.8rem;
    list-style: none;
}
.poderes{
    padding-left: 4rem;
    
}
