.informacion-super-heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.informacion-super-heroe {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  border: solid 1px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.91);
  transition: all .3s;
}

.informacion-super-heroe:hover {
  transform: scale(1.02);
  background-color: rgba(127, 251, 255, 0.493);
  box-shadow: 7px 8px 5px -3px rgba(0, 0, 0, 0.61);

}

.informacion-super-heroe img {
  height: 200px;
  width: 100%;
  padding: 0.5rem;
}

.info {
  padding: 0.8rem;
  list-style: none;
}

.poderes {
  padding-left: 4rem;
}

@media screen and (max-width: 480px) {
  .informacion-super-heroes {
    flex-direction: column;
    max-width: 90vw;
    align-items: center;
    margin: 0 auto;
  }
}